
.add-subject-container, .add-chapter-container {
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    background: rgb(251, 251, 251);
    box-shadow: 4px 4px 6px rgb(0, 0, 0);
    text-align: center;

    /* Centering using flexbox */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    color: rgb(1, 1, 1);
    font-size: 24px;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

label {
    font-size: 18px;
    font-weight: bold;
    width: 30%;
    text-align: left;
}

input, textarea {
    width: 65%;
    padding: 8px;
    border: 2px solid #6da0e2;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: none;
}


.btn-group {
    display: flex;
    justify-content: space-between; /* Ensures maximum spacing between buttons */
    align-items: center;
    margin-top: 20px;
    gap: 15px; /* Adds space between the buttons */
}

.btn-save-custom, .btn-close-custom {
    padding: 10px 60px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

/* Custom styles for each button */
.btn-save-custom {
    background-color: #6d96ff; /* Green color */
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    border-radius: 10px;
}

.btn-save-custom:hover {
    background-color: #212888; /* Darker green on hover */
}

.btn-close-custom {
    background-color: #ff6e7c; /* Red color */
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #000000;
}

.btn-close-custom:hover {
    background-color: #c82333; /* Darker red on hover */
}